<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lessons</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header class="container">
    <div class="logo">Bluegyat</div>
    <nav>
        <a href="home.html">Home</a>
        <a href="courses.html">Khóa học</a>
        <a href="challenge.html">Thử thách</a>
        <a href="profile.html">Profile</a>
    </nav>
</header>
<main class="container">
    <h2>Danh sách bài học</h2>
    <ul class="grid grid-2" style="list-style:none;">
        <li class="card"><a href="lesson/lesson-detail">Bài 1: Biến và kiểu dữ liệu</a></li>
        <li class="card"><a href="lesson-detail.html">Bài 2: Câu lệnh điều kiện</a></li>
    </ul>
</main>
<footer class="footer">© 2025 Bluegyat</footer>
</body>
</html>